/* Bootstrap modifications */
/* Cadre propre pour les formulaires à tabulation */
.panel-tab-content{
  border-color: #dddddd;
  border-top:none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 15px;
}
/* Champs boligatoire */
.required:after{
  color: red;
  content: ' *';
  font-size: 1.2em;
}
.categ-tableau{
  font-size:20px;
  font-weight:bold;
}
.titre-oeuvre{
  font-size: 1.2em;
}
th input, th select{
  font-weight:normal;
}
th i{
  font-weight:bold;
}
tr.filter{
  background-color:#e0e0e0;
}
tbody tr:hover{
  background-color:#eee!important;
  cursor:pointer;
}

.btn-big{
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 6px;
  width:10em;
  height:3em;
  border:1px solid #888;
}
.btn-big:hover{
  background-color:#a0d0eb;
}
.sel-instru{
  Background-color:#1aa51f;
}
